(
  window_size: (960., 500.),
  window_title: "tienlen",

  pile_position: (-200., -100., 10.),

  p0_position: (0., -180.),

  p1_position: (-315., 45.),

  p2_position: (0., 200.),

  p3_position: (315., 45.),
)
